<mat-card class="example-card py-3 px-3" appearance="outlined">
  <mat-card-header>

    <mat-card-title>Usuários</mat-card-title>

    <mat-card-subtitle>Lista de Usuários</mat-card-subtitle>

  </mat-card-header>

  <div class="flex justify-end">
    <button class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded" (click)="openCreateUsuarioDialog()">
      Criar Usuário
    </button>
  </div>

  <mat-card-content>

    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <!-- Nome Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.email}} </td>
        </ng-container>

        <!-- Departamento Column -->
        <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Departamento </th>
          <td mat-cell *matCellDef="let row"> {{row.departamento.nome}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Editar Usuário" (click)="editUser(row)">
              <mat-icon class="hover:text-gray-600">edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Deletar Usuário" (click)="deleteUser(row)">
              <mat-icon class="hover:text-gray-600">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunsUsuarios"></tr>
        <tr mat-row *matRowDef="let row; columns: colunsUsuarios;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Nenhum dado correspondente ao filtro "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

