<form [formGroup]="formUser">

  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome" placeholder="Nome">
    @if (formUser.get('nome')) {
      <mat-error>Nome é obrigatório</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Email">
    @if (formUser.get('email')) {
      <mat-error>Email é obrigatório</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Departamento</mat-label>
    <input matInput formControlName="departamento" placeholder="Departamento">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option.id">{{option.nome}}</mat-option>
      }
    </mat-autocomplete>
    @if (formUser.get('departamento')) {
      <mat-error>Departamento é obrigatório</mat-error>
    }
  </mat-form-field>
</form>
